# Ignore everything by default
/*

!.gitignore
!.bashrc
!.bash_logout
!.bash_profile
!.bashrc

.config/pulse/*
.config/assets/*
.config/htop/htoprc
.config/backgrounds/*
.config/installers/nerd-fonts
.config/neofetch/config.conf
.config/truffle-nodejs/*

!.config

.tmux/plugins/*
!.tmux
!.tmux.conf

.vim/autoload/*
.vim/plugged/*
!.vim
!.vimrc

!.xinitrc
!.Xresources

